html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 100px;
}

/*ROUTEVIEW*****************/

/*#routeView {
  margin-top: 50px;

}*/

/*MAP**************************/

.map {
  width: 67%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: fixed;
}

.marker > img {
  width: 32px;
  height: 40px;
}

.marker {
  height: 40px;
  width: 32px;
  padding: 0;
  margin: 0;
}

/*NavBar***************************************/

.navbar.navbar.navbar-default.navbar-fixed-top {
  background: #B9E8EA
}

.navbar > .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.navbar-header img {

  height: 90px;
  width: 72px;
  left: 25px;
}

.nav-search > .search-input {
  right: 50px;
  border-radius: 100%

}

.autoComplete input[type=search] {
  width: 15px;
  color: transparent;
  cursor: pointer;
  z-index: 2;
}
.autoComplete input[type=search]:hover {
  background-color: #fff;
}
.autoComplete input[type=search]:focus {
  width: 150px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.autoComplete input:-moz-placeholder {
  color: transparent;
}
.autoComplete input::-webkit-input-placeholder {
  color: transparent;
}

a {
  color: #69C;
  text-decoration: none;
}
a:hover {
  color: #F60;
}
h1 {
  font: 1.7em;
  line-height: 110%;
  color: #000;
}
p {
  margin: 0 0 20px;
}


input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.btn.btn-primary {
  background-color: #371C11;
  border-color: #371C11;

}

.btn.btn-primary:hover {
  background-color: #025aa5;
  border-color: #01549b
}

/*MODALS*****************************************/

.modalImage {
  max-width: 95%;
  position: relative;
  margin: 10px auto;
}


/***********************     HOME COMPONENTS    ***************************/

.event-list {
  width: 33%;
  height: 100%;
  float : right;
  background-color: #F7F4EF;
  /*position : fixed;*/
}

  /*position : absolute;*/

.list-entry {
  width: 250px;
  margin: 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.4), 0
    2.5px 6px rgba(0, 0, 0, 0.2);
}

.list-entry:hover, .selected-entry {
  background-color: gray;
}

.event-price {
  display: flex;
  justify-content: space-between;
  flex-direction:
}

/*********** List Cards ***********/
#f1_container {
  display: block;
  position: relative;
  margin: 20px auto;
  width: 350px;
  height: 300px;
  z-index: 1;

}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #371C11;
}

.list-image {
  width: 350px;
  height: 300px;
}

.price-banner{
  position: absolute;
  bottom: 20px;
  left:0px;
  width: 20% auto;
  background-color: black;
  font-family: 'tahoma';
  font-size: 24px;
  color: white;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.event-price {
  padding: 10px;
  margin: 0px;
}

.chef-rating-container {
  position: absolute;
  bottom: 20px;
  left: 230px;
  width: 50% auto;
  background-color: black;
  font-size: 24px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.chef-container {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 50% auto;
  background-color: black;
  font-size: 24px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.chef-rating > span:hover:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}

.chef-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: yellow;
}
.chef-rating > span:hover:before,
.chef-rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.chef-container > .chef-photo {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 20%;
  height: 20%;
  background-color: red;
}

.chef-container > .chef-photo {
  width: 100px;
  height: 100px;
}


/***************************   VIDEO   ***********************************/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*************************  User Dash ****************************/

.user-event {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.4), 0
    2.5px 6px rgba(0, 0, 0, 0.2);
}

.user-event-basics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 8;
}

.user-event-pic{
  height: 50%;
  width: 50%;
  padding: 15px;
}

.user-event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-gutter {
  display: flex;
  flex-direction: column;
}

.user-chef-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 25px;

}

.user-chef-photo {
  width: 100px;
  height:100px;
}

.user-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}

.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/***************** User Dash (Reviews) ****************/


.review-container {
  margin-top: 100px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.4), 0
    2.5px 6px rgba(0, 0, 0, 0.2);
}

.review-event-basics {
  display: flex;
  flex-direction: row;
  justify-content: 
}

.review-event-image {
  height: 175px;
  width: 125px;
}

.review-gutter {
  display: flex;
  flex-direction: column;
}

.review-rating-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50% auto;
  background-color: black;
  font-size: 24px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.review-rating > span:hover:before {
   content: "\2605";
   position: absolute;
   color: yellow;
}

.review-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: yellow;
}
.review-rating > span:hover:before,
.review-rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.review-comments {
  width: 75%;
}
