html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

/*ROUTEVIEW*****************/

#routeView {
  margin-top: 50px;

}

/*MAP**************************/

.map {
  width: 67%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: fixed;
}

.marker {
  padding: 0;
  margin: 0;
}

/*NavBar***************************************/

.navbar > .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.nav-logo {
  text-align: left;

}

.nav-search > .search-input {
  right: 50px;
  border-radius: 100%

}

.nav-search input[type=search] {
  width: 15px;
  color: transparent;
  cursor: pointer;
}
.nav-search input[type=search]:hover {
  background-color: #fff;
}
.nav-search input[type=search]:focus {
  width: 150px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.nav-search input:-moz-placeholder {
  color: transparent;
}
.nav-search input::-webkit-input-placeholder {
  color: transparent;
}

a {
  color: #69C;
  text-decoration: none;
}
a:hover {
  color: #F60;
}
h1 {
  font: 1.7em;
  line-height: 110%;
  color: #000;
}
p {
  margin: 0 0 20px;
}


input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/*MODALS*****************************************/

.modalImage {
  max-width: 95%;
  position: relative;
  margin: 10px auto;
}


/***********************     HOME COMPONENTS    ***************************/

.event-list {
  width: 33%;
  height: 100%;
  float : right;
  /*position : fixed;*/
}

  /*position : absolute;*/

.list-entry {
  width: 250px;
  margin: 20px;
  border : solid black 3px;
  text-align: center;
}

.list-entry:hover{
  background-color: gray;
}

.event-price {
  display: flex;
  justify-content: space-between;
  flex-direction:
}
