$pointer: pointer;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  background-color: $primary-white;
}

#routeView {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  #routeView {
    margin-top: 115px;
  }
}

.btn.btn-primary {
  background-color: $primary-brown;
  border-color: $primary-brown;

  &:hover {
    //color: lighten($primary-brown, 15%);
    background-color: lighten($primary-brown, 15%);
  }
}

a:focus, a:active:focus, a.active:focus{
    outline:none;
    box-shadow:none;
}

a {
  color: $primary-orange;
  text-decoration: none;

  &:hover {
    color: $secondary-orange;
  }
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.alert {
  color: $primary-orange;
  margin-bottom: 0;
  padding: 0 5px 10px;
}

.context {
  font-size: 0.6em;
  margin: 0 5px;
}
