$pointer: pointer;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 100px;
  font-family: $base-font-family;
  background-color: $primary-white;
}

button {
  background-color: $primary-brown;
  border-color: $primary-brown;

  &:hover {
    color: lighter($primary-brown, 15%);
    background-color: lighter($primary-brown, 15%);
  }
}

a:focus, a:active:focus, a.active:focus{
    outline:none;
    box-shadow:none;
}

a {
  color: $primary-orange;
  text-decoration: none;

  &:hover {
    color: $secondary-orange;
  }
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.alert {
  color: $primary-orange;
  margin-bottom: 0;
  padding: 0 5px 10px;
}
