$home-card-width: 275px;
$home-card-height: 235px;

.event-list-wrapper {
  position: absolute;
  top: 100px;
  left: 45%;
  margin: 0;
  width: 56%;
  height: 100%;
}

.event-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: $primary-white;
  overflow: auto;
}

.selected-entry {
  // vertical-align: middle;
  transform: scale(1.05);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.7);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  //@include box-shadow(0, 3px, 12px, 0px, rgba(0, 0, 0, 0.5));
}

//*********** List Cards ********** //

#f1_container {
  display: block;
  position: relative;
  margin: 20px;
  width: $home-card-width;
  height: $home-card-height;
  z-index: 1;
  perspective: 1000;
  cursor: pointer;

  // &:hover {
  //   @include box-shadow(0, 0, 5px, 0, rgba(0,0,0,0.5))
  // }
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  // box-shadow: (-5px) 5px 5px #aaa;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  &.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #371C11;
  }
}

.list-image {
  width: $home-card-width;
  height: $home-card-height;
}

.price-banner {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 20% auto;
  background-color: black;
  font-family: "tahoma";
  font-size: 24px;
  color: white;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}

.event-price {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0;
  margin: 0px;
}

.chef-rating-container {
  position: absolute;
  bottom: 20px;
  left: 155px;
  width: 50% auto;
  background-color: black;
  font-size: 24px;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}

.chef-container {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 50% auto;
  background-color: black;
  font-size: 24px;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}

.chef-rating {
  > span:hover {
    &:before {
      content: "★";
      position: absolute;
      color: yellow;
      content: "★";
      position: absolute;
    }

    ~ span:before {
      content: "★";
      position: absolute;
    }
  }

  unicode-bidi: bidi-override;
  direction: rtl;
  color: yellow;
}

.chef-container > .chef-photo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 20%;
  height: 20%;
  background-color: red;
  width: 100px;
  height: 100px;
}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}






// .home-event-row {
//   margin: 20px;
// }


// .list-entry {
//   width: 50%;
//   margin: 50px;

//   cursor: pointer;
//   text-align: center;
//   @include box-shadow(0, 1.5px, 4px, 0px, rgba(0, 0, 0, 0.4)); //(0, 2.5px, 2.5px, 6px, rgba(0, 0, 0, 0.2));

//   &:hover {
//     background: #e1e1e1;
//     border-top: 1px solid #d0d0d0;
//   }
//   // > :first-child {
//   //   margin-right: 20px;
//   // }
// }
