
//************* Advanced Search Popover *******************//

#advancedSearch {
  background-color: rgba(0,0,0,0);
  padding: 5px 0;
  position: relative;
  float: right;
}

#searchButton {
  line-height: 1em;
  font-size: 0.9em;
  text-align: right;
}

#searchOverlay {
  margin-top: 100px;
}

#searchMenu {
    position: absolute;
    float: right;
    margin-top: 8px;
    margin-left: -197px;
    padding: 10px;
    width: 370px;
    line-height: 18px;
    background-color: #FFB74C;
    border-radius: 10px;
    border: 1px solid $primary-yellow;
    z-index: 4;
}

#searchMenu label {
  padding: 0 5px;
}

#search:focus {
    height: 200px;
    margin-left: 0px;
}

#restrictions {
  display: block;
  position: relative;
  float: left;
  width: 349px;
  clear: right;
}

#genreMenu {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

#distanceMenu {
  display: inline-block;
  position: relative;
  float: right;
}

#searchButton {
  border: none;
  cursor: pointer;

  &:focus, &:visited, &:hover {
    border: none;
  }
}

// ***************** Google Places dropdown ****************//

.pac-container {
  top: 20px;
  z-index: 1051;
  border-radius: 15px;
}

.pac-item, .pac-selected {}

.pac-container:after {
  background-position: 15px;
}
  // This is the stylized animated search bar. Has not yet been implemented with
  // Autocomplete searchbar

  // @media (max-width: 768px){
  //   #advancedSearch {
  //     width: 100%;
  //   }
  //   #searchOverlay {
  //     width: 100%;
  //   }
  //   #searchMenu {
  //     width: 100%;
  //     margin: 10px 0 0;
  //     overflow: hidden;
  //   }
  //   // #restrictions, #genreMenu {
  //   //   display: block;
  //   //   position: static;
  //   // }
  // }

@media screen and (max-width: 432px) {
  #distanceMenu {
    float: left;
  }
  #searchMenu {
    float: left;
    margin-left: -71%;
  }
}

@media screen and (max-width: 370px) {
  #searchMenu {
    padding: 10px 5px 10px 10px;
    width: 100vw;
  }
}
