.modalImage {
  max-width: 95%;
  position: relative;
  margin: 10px auto;
}

// handles name, address, and time
.join-event-details {
  font-family: $base-font-family;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.join-time-location {
  margin-left: auto;
}



// handles event description
.join-event-desc {
  display: flex;
  display-items: center;
  justify-content: center;
}

.join-footer {
  display: flex;
  flex-direction: row;
}

.join-event-price {
  margin-right: auto;
}