.map {
  width: 50%;
  height: 100vh;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: fixed;
}

.marker {
  height: 40px;
  width: 32px;
  padding: 0;
  margin: 0;
}

.marker  > img {
  width: 32px;
  height: 40px;
}

.popover-content {
  padding: 9px 18px;

  p {
    margin-bottom: 0.6em;
  }
}

.popover-time::before {
    content: "";
    position: absolute;
    width: 60%;
    left: 20%;
    border-top: 1px rgb(211, 233, 234) solid;
}

.popover-time {
  font-style: italic;
  font-size: 0.9em;
  line-height: 2.7;
  text-align: center;
}

.showAlert-false {
  display: none;
}

.errorAlert span {
  color: $primary-orange;
}

.errorAlert {
  background-color: $primary-white;
  z-index: 3;
  position: absolute;
  left: 37%;
  top: 300px;
  width: 300px;
  padding: 10px;
  border: 1px solid $primary-yellow;
}
