.map {
  width: 60%;
  height: 100%;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  position: fixed;
}

.marker {
  height: 40px;
  width: 32px;
  padding: 0;
  margin: 0;
}

.marker  > img {
  width: 32px;
  height: 40px;
}

.showAlert-false {
  display: none;
}

.errorAlert span {
  color: $primary-orange;
}

.errorAlert {
  background-color: $primary-white;
  z-index: 3;
  position: absolute;
  left: 37%;
  top: 300px;
  width: 300px;
  padding: 10px;
  border: 1px solid $primary-yellow;
}
