@import "utils/mixins";

//************ User Dash Events ********************//
.user-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-event {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @include box-shadow(0, 1.5px, 4px, 0px, rgba(0, 0, 0, 0.4));
}

.user-event-basics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 8;
}

.user-event-pic {
  height: 50%;
  width: 50%;
  padding: 15px;
}

.user-event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-gutter {
  display: flex;
  flex-direction: column;
}

.user-chef-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 25px;
}

.user-chef-photo {
  width: 100px;
  height: 100px;
}

.user-chat {
  margin-left: auto;
}


/*.chef-rating-container {
 *  position: absolute;
 *  bottom: 20px;
 *  left: 230px;
 *  width: 50% auto;
 *  background-color: black;
 *  font-size: 24px;
 *  opacity: 0.6;
 *  filter: alpha(opacity=60);
 *} */
