//****************************** Nav Bar ***********************//

.navbar {
  &.navbar.navbar-default.navbar-fixed-top {
    background: $primary-light-blue;
    padding: 0 0 0 16px;
  }
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.authButton {
  box-sizing: border-box;
  display: block;
  padding: 10px 5px 10px;
  // color: $primary-brown;
  // &:hover {
  //   color: $primary-white;
  // }

  // border-left: 1px solid $primary-white;
}

.navbar-nav>li:nth-child(2) a {
  padding-right: 20px;
}

.navbar-nav>li {
  height: 102px;
  &:hover {
    background-color: #BCDCDD;
  }
}

.navbar-default .navbar-nav>li>a {
  padding: 25px 15px 5px;
  height: 100%;
  position: relative;
  text-decoration: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  color: $primary-brown;
  &:hover {
    color: $primary-white;
  }
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-header img {
  height: 81px;
  width: 65px;
  margin: 10px 5px 10px 15px;
  display: inline-block;
}

.nav-search {
  margin: 15px 10px 0;
}

.header-logo {
  display: inline-block;
}

.header-search {
  display: inline-block;
}

.autoComplete input[type=search] {
  width: 15px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  font-weight: $bold;
  border: 2px solid #fff;
  background-color: rgba(0,0,0,0);

}

.autoComplete input[type=search]:hover {
  background-color: rgba(0,0,0,0);
}

.autoComplete input[type=search]:focus {
  width: 150px;
  padding-left: 32px;
  color: #fff;
  background-color: rgba(247, 244, 239, 0.2);
  border-color: #F7F4EF;
  cursor: auto;
}

.autoComplete input:-moz-placeholder {
  color: transparent;
}

.autoComplete input::-webkit-input-placeholder {
  color: transparent;
}

a {
  color: #371C11;
  text-decoration: none;
}

a:hover {
  color: #F60;
}

h1 {
  font: 1.7em;
  line-height: 110%;
  color: #000;
}

p {
  margin: 0 0 20px;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: rgba(0,0,0,0) url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 2px #fff;
  padding: 9px 10px 9px 32px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

input[type=search]:focus {
  width: 130px;
  background-color: rgba(197, 194, 189, 0.2);
  border-color: #F7F4EF;
  color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

/* Firefox 19+ */
input[type=search]::-moz-placeholder {
  color: #fff;
}

/* Firefox 18- */
input[type=search]:-moz-placeholder {
  color: #fff;
}

/* IE 10+ */
input[type=search]:-ms-input-placeholder {
  color: #fff;
}

/* Chrome/Opera/Safari */
input[type=search]::-webkit-input-placeholder {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .navbar.navbar.navbar-default.navbar-fixed-top {
    padding: 0;
  }

  .navbar-header img {
    margin-left: 46px;
  }

  .navbar-default .navbar-nav>li>a {
    padding: 5px 15px 5px;
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .navbar-nav>li {
    height: 100%;
    &:hover {
      background-color: #BCDCDD;
    }
  }

}
